*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f8f8f8;
}

.categories{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    background: white;
}

.category{
    text-align: center;
    cursor: pointer;
}

.category img{
    width: 80px;
    height: 80px;
}

.category p{
    margin-top: 8px;
    font-weight: 500;
}


.intro{
    text-align: center;
    margin: 30px 0;
}


.parent{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

.card{
    background: white;
    border-radius: 14px;
    padding: 15px;
    width: 260px;
}

.card:hover{
    transform: scale(1.03);
}

.card-img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 12px;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card p{
    margin-top: 8px;
    color: #666;
    font-size: 14px;
}


.instamart{
    padding: 30px;
}

.instamart h2{
    margin-bottom: 20px;
}

 .insta-parent{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}


.insta-card{
    background: white;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    width: 150px;
}

.insta-card img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.insta-card p{
    margin-top: 10px;
    font-weight: 500;
}
